# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan

# Module lock files are not committed for reusable modules
modules/**/.terraform.lock.hcl

# Editors / OS
.idea/
.vscode/
.DS_Store
